.school {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.school:first-child {
  margin-top: 0;
}

.school p {
  margin: 0;
}

.date {
  width: 104px;
}

.dot {
    flex: 1 0 auto;
}

.school-detail {
  margin: 0;
  width: 180px;
  text-align: left;
}
