.job {
  height: 110px;
  position: relative;
}

.job p {
  margin-top: 0;
}

.jobtitle, .jobperiod, .jobdescription {
  position: absolute;
}

.jobtitle, .jobperiod {
  top: 0px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.jobtitle {
  left: 0px;
  text-align: left;
}

.jobperiod {
  right: 0;
  text-align: right;
}

.jobdescription {
  bottom: 0;
}
