
/*#sidebar {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: blue;
}

#sidebar > tr {
  border: 5px solid white;
  padding: 100px;
}*/
/*
#page-content {
  margin-left: 300px;
}*/
