body {
  background-color: #fcf5ee;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #f57665;
  font-size: 16px;
  line-height: 20px;
}

.container {
  margin: 15px auto;
  width: 500px;
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.card {
    background-color: white;
    padding: 20px;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 1px orange;
    text-align: center;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;;
  color: #cd5555;
}

h1 {
  font-size: 25px;
  line-height: ;
}

h2 {
  font-size: 20px;
  line-height: ;
}

h3 {
  font-size: 18px;
  line-height: ;
}

p {
    text-align: justify;
    width: 80%;
    margin: 10px auto;
}

ul {
  list-style: none;
  padding: 0;
}

.card > ul > li {
  margin: 0 25px;
}

a {
  text-decoration: none;
  color: #ffcdcd;
}

a:hover {
  color: #f57665;
}

#selfie {
  width: 200px;
  margin: 25px auto;
}

.img-circle {
  border-radius: 50%;
}

.list_inline {
  display: inline-block;
}
